
# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# VSCode
.vscode/
*.code-workspace
.history/

# Terraform
.terraform/
*.plan
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log
crash.*.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
